* {
  margin: 0;
  padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height:100vh;
	font-family: Arial, Helvetica, sans-serif;
}
a{	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
	color:#d385f7;
	text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover {
    color: #A21589;
}
h1{
	margin: 20px;
}
.header{
	width: 100%;
	height:30%;
	background-color: #565656;
	text-align:center;
    color:white;
    font-size:36px;
}
.main{
	height: 100%;
	align-items: stretch;

}
.content{
	width: 80%;
	height: 1000px;
	float:right;
	background-color: #cbe9f4;
}
.content .article{
	padding-left: 50px;
	padding-top : 20px;
	font-size: 20px;
}
.content .article img{
	margin-left: 50px;
	float:left;
}
.sidebar{
	width: 20%;
	height: 1000px;
	float: left;
	background-color: #3b6777;
}
.sidebar ul{
	list-style-type: none;
}
.sidebar ul li{
	padding-left: 5px;
	float: left;
	clear:left;
	margin-left: 0px;
}
.footer {
clear: both;
  background-color: #777;
  height: 60px;
  width: 100%;
  color: white;
}
@media only screen and (max-width:800px) {
	/* For mobile phones: */
	.main, .sidebar, .content {
	  width:100%;
	}
	.sidebar{
		height: auto;
	}
	img{
		width: 600px;
		height: 600px;
	}
  }